@import url("https://fonts.googleapis.com/css?family=Calligraffitti|Mali");
/* GENERAL STYLES */
:root {
  --mainYellow: #fdbe02;
  --mainWhite: #fff;
  --mainBlack: #071013;
  --mainGrey: #9b9999;
  --TransGrey: rgba(0, 0, 0, 0.1);
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Mali", cursive;
}
.text-slanted {
  font-family: "Calligraffitti", cursive;
}
.text-yellow{
  color: var(--mainYellow);
}
.btn-yellow{
  background: var(--mainYellow);
  text-transform: capitalize;
  font-size: 1.2rem;
  color: var(--mainBlack);
  border-radius: 0!important;
}
.btn-yellow:hover{
  background: var(--mainBlack);
  color: var(--mainYellow);
}
.banner-products,
.banner-single-products,
.banner-store {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url('../img/pageBcg/productsBcg.jpeg')center/cover fixed no-repeat;
  min-height: 60vh;
}
.banner-single-products{
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
  url('../img/pageBcg/singleBcg.jpeg')center/cover fixed no-repeat;
  min-height: 60vh;
}
.banner-store {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
  url('../img/pageBcg/storeBcg.jpeg')center/cover fixed no-repeat;
  min-height: 60vh;
}

/* ============================================= */
/* =============== Home Page =============== */
/* ============================================= */
/* navbar */
.navbar-toggler{
  outline: none !important;
  border: none;
  font-size: 2.2rem;
  color: var(--mainYellow) !important;
}
.nav-link{
  font-size: 1.6rem;
  border-bottom: 0.1rem solid var(--mainWhite);
}
.nav-active{
  border-bottom: 0.5rem solid var(--mainYellow);
}
.navbar-icon{
  font-size: 1.6rem;
}
.navbar-cart-icon{
  color: var(--mainBlack);
  position: relative;
}
.navbar-cart-icon:hover{
  color: var(--mainGrey);
}
.cart-items{
  color: var(--mainWhite);
  position: absolute;
  top: -15%;
  right: -25%;
  padding:0.3rem 0.5rem;
  background: var(--mainYellow);
  font-size: 0.7rem;
  border-radius: 50%;
}
/* banner */
.banner{
  min-height: calc(100vh - 101px);
  background: url('../img/pageBcg/bannerBcg.jpeg')center/cover fixed no-repeat;
}
/* ============================================= */
/*  ============= Services Section ============== */
/* ============================================= */
.services-icon{
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--mainYellow);
  background: var(--mainGrey);
  padding: 0.5rem 1rem;
  border-radius: 50%;
}

/* ============================================= */
/*  ============= Featured Section ============== */
/* ============================================= */
.featured-container{
  background: var(--TransGrey);
  position: relative;
  overflow: hidden;
}
.featured-search-icon{
  background: var(--mainWhite);
  display: inline-block;
  padding: 0.2rem 0.4rem;
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 1.2rem;
  transform: translateX(110%);
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.featured-container:hover .featured-search-icon{
  transform: translateX(0);
}
.featured-store-link{
  background: var(--mainYellow);
  color: var(--mainBlack);
  position: absolute;
  padding: 0.2rem 0.4rem;
  display: inline-block;
  right: 0;
  top: 75%;
  transform: translateX(110%);
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.featured-store-link:hover{
  color: var(--mainBlack);
}
.featured-container:hover .featured-store-link{
  transform: translateX(0%);
}
.old-price{
  text-decoration: line-through;
}
/* ============================================= */
/*  ============= Partners Section ============== */
/* ============================================= */
.partners{
  background: var(--TransGrey);
}
.carousel-control-prev,
.carousel-control-next{
  font-size: 2.5rem;
  color: var(--mainBlack);
  transform: translateX(-200%);
}
.carousel-control-next{
  transform: translateX(200%);
}
/* ============================================= */
/*  ============= Newsletter Section ============== */
/* ============================================= */
.form-icon{
  background: var(--mainGrey);
  color: var(--mainBlack);
}
/* ============================================= */
/*  ============= Skill Section ============== */
/* ============================================= */
.skills{
  background: var(--mainBlack);
}
.skill-icon{
  color: var(--mainYellow);
  font-size: 2rem;
}
/* ============================================= */
/*  ============= Footer Section ============== */
/* ============================================= */
.footer{
  background: rgba(0,0,0,0.8);
}
.footer-title{
  border: 0.2rem solid var(--mainYellow);
  padding: 0.4rem 0.5rem;
}
.footer-icon{
  color: var(--mainYellow);
  font-size: 1.2rem;
}
.footer-icon:hover{
  color: var(--mainWhite);
}